PoseidonClient/ClientSchema.xml

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Client">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="1" ref="Location"/>
				<xs:element minOccurs="1" maxOccurs="unbounded" ref="Sensor"/>
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Location">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="Street"/>
					<xs:element ref="City"/>
					<xs:element ref="Country"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="Lat"/>
					<xs:element ref="Long"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="type" use="required" type="xs:NCName"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Street" type="xs:string"/>
	<xs:element name="City" type="xs:string"/>
	<xs:element name="Country" type="xs:NCName"/>
	<xs:element name="Lat" type="xs:decimal"/>
	<xs:element name="Long" type="xs:decimal"/>
	<xs:element name="Sensor">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="Value"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:NCName"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Value">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:integer">
					<xs:attribute name="type" type="xs:NCName"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
